Baker's Dozen Solitaire Requirements Definitions

1.) The system must be designed to run in a graphical user interface
2.) The system will have a game menu on the user interface which will allow the user to start a new game,
    undo a move made in the game, and quit the game.
3.) The system must build a set of 52 cards.
4.) The system must create 13 tableau slots.
5.) The system must create 4 foundation slots.
6.) The system must set up the game correctly, first placing each king down face up onto the
    bottom of a randomly chosen tableau slot, then placing the rest of the cards down face up onto each tableau
    slot until they each have 4 cards in them.
7.) The system must draw the set up of cards and slots onto a game screen on the user interface
8.) The system will detect mouse events when the user clicks on the game screen.
9.) The system will allow users to select a card by clicking on top cards of slot piles drawn on screen.
    -Other clicks will not register with the system and will unselect any cards that were selected.
10.) The system will draw highlights around cards when they have been successfully been selected.
11.) The system will allow users to select a slot if they currently have no cards in them.
12.) The system must allow users to move cards provided that it follows the logic of the game:
    -A card selected to be moved onto the top of a empty foundation slot must be an ace.
    -A card selected to be moved onto the top of a foundation slot with cards must be the same suit
    and its rank must be 1 higher than the one it will cover.
    -A card selected to be moved onto the top of a tableau slot must have a rank 1 lower than the
    card it will cover, suit does not matter.
    -An empty slot cannot be moved, only selected (like when trying to move an ace onto an empty foundation slot)
    -A card cannot be moved onto an empty tableau slot.
13.) The system will display a win screen when the user moves every card from the tableau slots onto the 4 foundation slots
14.) The system will allow the user to undo moves made in the game, going back one move at a time to a spot they want.
15.) The system will have a stats bar on the user interface which will display a game timer and a move counter.
16.) The system will detect when moves are made and when undo move has been used and adjust the move counter accordingly.
